/* Write your CSS here */

.sh-bg {
  min-height: 100vh;
  font-family: 'Roboto';
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sh-heading {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  padding: 30px;
  margin-top: 30px;
}
.sh-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.sh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.sh-button {
  color: #dd1264;
  font-size: 18px;
  padding: 15px;
  background-color: #fddddb;
  border: 0;
  border-radius: 10px;
}

.name-container {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background-color: #fddddb;
  border: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 26px;
  text-align: center;
  padding: 15px;
}
